<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>project_modi_servlet</display-name>
  <welcome-file-list>
    <welcome-file>home.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  <servlet-name>m</servlet-name>
  <servlet-class>com.xworkz.WelcomeController</servlet-class>
  </servlet>  
  <servlet-mapping>
  <servlet-name>m</servlet-name>
  <url-pattern>/a1</url-pattern>	<!-- a1 is the action name from home.jsp file. -->
  </servlet-mapping>
  
  
  <servlet>
  <servlet-name>launch</servlet-name>
  <servlet-class>com.xworkz.LaunchEvent</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>launch</servlet-name>
  <url-pattern>/a2</url-pattern>
  </servlet-mapping>
  
  
</web-app>


<!-- 
for every servlet class should map inside web.xml 
use below tags
<servlet>
<servlet-mapping></servelt-mapping>
</servlet>
 -->